*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: grey;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

th, td{
  margin-right: 10px;
  padding: 10px;
}